body {
	background-color: black
	color: white;
	font-family: helvetica;
}

h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 44pt;
	color: black;
	padding: 40pt 0pt 40pt 0pt;
	font-weight: bold;
}

h2 {
	font-size: 22pt;
	font-family: 'Roboto Condensed', sans-serif;
	color: black;
	font-weight: bold;
	padding: 40pt 0pt 16pt 0pt;
}

p {
	line-height: 18pt;
}

.paragraph {
	font-family: helvetica;
	font-size: 12pt;
	width: 100%;
	background-color: black;
}

.about {
	width: 600px;
	float:left;
}

.pics {
	width: 300px;
	float: right;
	margin-top: 60px;
}

.container1 {
	margin: auto;
	width: 1000px;
}